.user {
    display: block;
    width: 80vw;
}

.selected {
    font-weight: bold;
}

.numbers {
    margin-left: 20px;
    margin-top: 20px;
}

.user span {
    margin-left: 15px;
    transition: .3s linear;
    cursor: pointer;
}

.user span:hover {
    color: darkred;
    font-weight: 600;
}