.adding_new_post textarea {
  resize: none;
  outline: none;
  font-size: 20px;
  width: 100%;
}

.adding_new_post button {
  padding: 5px;
  background-color: #bf0000;
  color: #fff;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 500;
  border:none;
  transition: .3s linear;
}

.adding_new_post button:hover {
  background-color: #fff;
  color: #bf0000;
}
