
.header {
  background-color: #282c34;
  color: #6bffdb;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: calc(15px + 2vmin);
  grid-area: header;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
}


.header img {
  height: 70px;
  width: 70px;
}

.auth a {
  color: #6bffdb;
  text-decoration: none;
  margin-left: 6vw;
}

.auth button {
  text-decoration: none;
  outline: none;
  display: inline-block;
  padding: 10px 10px;
  margin: 10px 20px;
  position: relative;
  color: white;
  border: 1px solid rgba(255,255,255,.4);
  background: none;
  font-weight: 300;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.auth button:before,
.auth button:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  box-sizing: border-box;
}
.auth button:before {
  bottom: 0;
  left: 0;
  border-left: 1px solid white;
  border-top: 1px solid white;
  transition: 0s ease opacity .8s, .2s ease width .4s, .2s ease height .6s;
}
.auth button:after {
  top: 0;
  right: 0;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  transition: 0s ease opacity .2s, .2s ease width , .2s ease height .2s;
}
.auth button:hover:before,
.auth button:hover:after{
  height: 100%;
  width: 100%;
  opacity: 1;
}
.auth button:hover:before {transition: 0s ease opacity 0s, .2s ease height, .2s ease width .2s;}
.auth button:hover:after {transition: 0s ease opacity .4s, .2s ease height .4s , .2s ease width .6s;}
.auth button:hover {background: rgba(255,255,255,.2);}