.container {
  max-width: 1240px;
  margin: 0 auto;
}

.app-wrapper {
  display: grid;
  grid-template-areas:
    "header header"
    "nav content";
  grid-template-rows: 100px 1fr;
  grid-template-columns: 1fr 5fr;
}

.app-header {
  background-color: #282c34;
  color: #6bffdb;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: calc(15px + 2vmin);
  grid-area: header;
}

.app-header img {
  height: 70px;
  width: 70px;
}

.app-nav {
  grid-area: nav;
  background-color: #5dffec;
  height: 800px;
}

.app-content {
  grid-area: content;
  background-color: #ad5031;
}

.ground-image {
  width: 100%;
}

.profile-information {
  display: flex;
  flex-wrap: wrap;
}

.avatar {
  width: 150px;
  height: 150px;
  margin-left: 40px;
  margin-top: 35px;
}

.contact-information {
  list-style-type: none;
}

.contact-information:nth-child(1) {
  margin-top: 30px;
}
