.gridContent {
  display: grid;
  grid-template-columns: 3fr 7fr;
}

.names {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}

.names a {
  display: block;
  text-decoration: none;
}

.names a.active {
  color: #ffb000;
}

.names a:hover {
  color: #ffb000;
  opacity: 75%;
  transition: .2s linear;
}

.names a.active:hover {
  opacity: 100%;
}

.names div {
  margin-top: 20px;
}

.name {
  font-size: 18px;
  padding: 20px;
}

.dialog {
  display: flex;
  flex-flow: column;
}

.dialog textarea {
  flex-flow: nowrap;
  resize: none;
  outline: none;
  font-size: 20px;
  width: 95%;
}

.dialog button {
  width: 100px;
  padding: 5px;
  background-color: #bf0000;
  color: #fff;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 500;
  border:none;
  transition: .3s linear;
}

.dialog button:hover {
  background-color: #fff;
  color: #bf0000;
}
