.profile_information {
  display: flex;
  flex-wrap: wrap;
}

.contact_information {
  font-size: 20px;
  list-style-type: none;
  margin-top: 30px;
}

.avatar {
  width: 150px;
  height: 150px;
  margin-left: 40px;
  margin-top: 35px;
}

.name {
  font-weight: 600;
  font-size: 26px;
  margin-bottom: 20px;
}

.status {
  cursor: pointer;
  transition: linear .2s;
}

.status:hover {
  color: navy;
}

.profile_information a {
  text-decoration: none;
  color: black;
  transition: .3s linear;
}

.profile_information a:hover {
  color: peru;
}

.profileStatus {
  margin-left: 40px;
  margin-top: 30px;
}

.profileInfoForm {
  list-style-type: none;
}

.profileInfoForm input {
  margin-top: 5px;
  width: 300px;
  font-size: 13px;
  padding: 6px 0 4px 10px;
  border: 1px solid #cecece;
  background: #F6F6f6;
  border-radius: 8px;
}
