name: basic actions

on: push

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1

      - uses: actions/setup-node@v1
        with:
          node-version: 10

      - name: Install & check types
        run: |
          yarn
          yarn ts:check:ci

      - name: Run tests
        run: yarn test
